.header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-header-working);
    // background-color: black;
}

.header--img {
    width: 200px;
    height: 50px;
    align-self: center;
}

.header--button__menu {
    display: none;
}

.header--nav {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 70%;
    height: 100%;
}

.header--nav__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20%;
    align-self: center;
}

.nav--list__item {
    color: var(--bg-gray);
    font-weight: var(--fW-Poppins500);
    text-transform: capitalize;
    width: auto;
    height: 60%;
    padding: 0;
    margin-left: 5%;
}

.nav--list__item:hover {
    transition: .5;
    color: var(--bg-VeryDarkViolet);
    cursor: pointer;
}

.header--btn__login {
    align-self: center;
    border: none;
    color: var(--bg-gray);
    font-weight: var(--fW-roboto500);
    background-color: white;
    margin-right: 2%;
    text-transform: capitalize;
    outline: none;
}

.header--btn__login:hover {
    cursor: pointer;
    color: var(--bg-VeryDarkViolet);
}

.header--btn__signUp {
    outline: none;
    align-self: center;
    text-transform: capitalize;
    font-weight: var(--fW-roboto500);
    color: white;
    border: none;
    border-radius: 20px;
    background: var(--bg-cyan);
    height: 30%;
    width: 10%;
}

.header--btn__signUp:hover {
    cursor: pointer;
    transition: .5s;
    background-color: var(--bg-hover);
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .header--img {
        width: 125px;
        height: 30px;
        margin-left: 5%;
    }
    .header--nav {
        display: none;
    }
    .header--btn__login {
        display: none;
    }
    .header--btn__signUp {
        display: none;
    }
    .header--button__menu {
        display: block;
        background-color: white;
        color: var(--bg-gray);
        border: none;
        border-radius: 10px;
        height: 50%;
        width: 25%;
        margin-top: 5%;
        margin-left: 35%;
        outline: none;
    }
    // <!-- tamaño menu 331px x 384px -->
    .header--menu {
        width: 400px;
        height: 384px;
        border: 1px solid black;
    }
    // .cdk-overlay-pane{
    //     background-color: black;
    // }

    .header--menu__opcion {
        text-align: center;
        width: 100%;
        color: white;
        font-size: 18px;
        font-weight: var(--fW-Poppins700);
        margin-top: 7%;
    }
    .header--menu__opcion:hover{
        cursor: pointer;
        background-color: var(--bg-violet-def) ;
    }
    .header-menu__separador {
        margin-top: 10%;
        margin-bottom: 0;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        border-radius: 10px;
        // background-color: white;
        border: 1px solid var(--bg-gray);
        
    }
    .header--menu__signUp {
        background-color: var(--bg-cyan);
        width: 80%;
        border-radius: 20px;
        margin: 5% 10%;
        // margin-left: 10%;
        // margin-right: 10%;
        font-size: 18px;
        font-weight: var(--fW-Poppins700);
        color: white;
        text-align: center;
        outline: none;
    }
    .header--menu__signUp:hover{
        background-color: var(--bg-hover);
    }
}