// pantalla base: 1444px * 900px
.container {
    z-index: 1;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 48% 32% 10%;
    grid-template-rows: 150px 490px 50px 105px 105px 300px 540px 248px 300px;
    font-family: 'Poppins', sans-serif;
    Font-size: 18px
}

.container--header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.container--working {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.container--working__imagen {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../assets/img/illustration-working.svg);
    background-position: left;
    background-repeat: no-repeat;
    object-fit: cover;
    clip-path: inset(0px 2px 0px 0px);
}

.container--searchbar {
    z-index: 3;
    width: 100%;
    height: 100%;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
}

.container--fondo {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
    z-index: 2;
    background-color: var(--bg-mInfo-cards);
}

.container--moreInfo {
    z-index: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}

.container--moreInfo__title {
    text-align: center;
    font-size: 40px;
    font-weight: var(--fW-Poppins700);
    color: var(--bg-VeryDarkBlue);
    text-transform: capitalize;
}

.container--moreInfo__text {
    text-align: center;
    line-height: 25px;
    font-weight: var(--fW-Poppins500);
    margin: 0 1%;
    color: var(--bg-gray);
}

.container--cards {
    z-index: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 33.3%);
}

.container--cards__franja {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 1;
    position: relative;
    top: 50%;
    width: 97%;
    height: 7px;
    border: none;
    margin: 0;
    background-color: var(--bg-cyan);
}

.container--cards__brandRecognition {
    z-index: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 100%;
    width: 90%;
    margin-top: 19%;
    justify-self: start;
}

.container--cards__detailedRecords {
    z-index: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 100%;
    width: 90%;
    margin-top: 32%;
    justify-self: center;
}

.container--cards__fullyCustomizable {
    z-index: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 100%;
    margin-top: 50%;
    width: 90%;
    justify-self: end;
}

.container--boost {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
    background-image: url(../assets/img/bg-boost-desktop.svg);
    background-color: var(--bg-violet);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container--boost__title {
    color: white;
    font-size: 32px;
    font-weight: var(--fW-Poppins700);
}

.container--boost__btn {
    width: 15%;
    height: 21%;
    font-weight: var(--fW-Poppins500);
    background-color: var(--bg-cyan);
    color: white;
    text-transform: capitalize;
    border: none;
    border-radius: 50px;
    margin-left: 42%;
    outline: none;
}

.container--boost__btn:hover {
    transition: .5s;
    background-color: var(--bg-hover);
    cursor: pointer;
}

.container--footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;
}

// pantalla 375px x 3480px

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 3480px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 90px 372px 310px 72px 76px 76px 279px 1142px 300px 779px;
    }
    .container--header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        height: 100%;
    }
    .container--working {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .container--working__imagen {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-position: center;
        width: 90%;
        background-size: 100% 100%;
        margin-left: 25px;
        margin-top: 31px;
        height: 320px;
        clip-path: inset(0px 0px 0px 0px);
    }
    .container--fondo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 9;
        z-index: 2;
        background-color: var(--bg-mInfo-cards);
    }
    .container--searchbar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 7;
        width: 90%;
        margin: 0 5%;
    }
    .container--moreInfo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
        margin: 0;
        width: 100%;
    }
    .container--moreInfo__title {
        margin: 10px 0 20px 0;
        font-size: 30px;
    }
    .container--moreInfo__text {
        font-size: 16px;
        margin: 0 15px;
    }
    .container--cards {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 10% 35% 10% 35% 10%;
        grid-template-rows: repeat(3,33.3%);
    }
    .container--cards__franja {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
        height: 90%;
        width: 20%;
        justify-self: center;
        top: 0;
        // top:10%;
    }
    .container--cards__brandRecognition {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 5;
        width: 100%;
        height: 100%;
        margin: 0;
        
    }
    .container--cards__detailedRecords {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 5;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .container--cards__fullyCustomizable {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 5;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .container--boost{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 10;
        background-image: url(../assets/img/bg-boost-mobile.svg);
        background-color: var(--bg-violet);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .container--boost__title {
        font-size: 30PX;
    }
    .container--boost__btn{
        width: 60%;
        margin-left: 22%;

    }
    .container--footer{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 11;
    }
}