.card {
    z-index: 1;
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
}

.card--img {
    margin-left: 20px;
    position: relative;
    bottom: 30px;
    z-index: 2;
    width: 20%;
    height: 25%;
    background-color: var(--bg-violet);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card--img__icon {
    width: 60%;
    height: 60%;
    background-size: 100% 100%;
    margin-top: 19%;
    margin-left: 19%;

}
.brandrecognition {
    background-image: url(../../../assets/img/icon-brand-recognition.svg);
}
.detailed-records {
    background-image: url(../../../assets/img/icon-detailed-records.svg);
}
.fully-customizable {
    background-image: url(../../../assets/img/icon-fully-customizable.svg);
}

.card--subcard {
    margin: -10px 10% 20px 10%;
    width: 80%;
    height: 70%;
}

.card--subcard__title {
    margin: 0;
    font-size: 20px;
    font-weight: var(--fW-Poppins700);
    color: var(--bg-VeryDarkBlue);
    text-transform: capitalize;
}

.card--subcard__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
    font-weight: var(--fW-Poppins500);
    color: var(--bg-gray);
}

@media only screen and (max-width: 600px) {
    .card {
        height: 80%;
    }
    .card--img {
        height: 25%;
        width: 25%;
        margin-left: 37%;
    }
}